.TableWithFilter-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  flex: 1;
}

.TableWithFilter-filterBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  min-height: 45px;
  max-height: 45px;
  border-bottom: 1.1px solid #d3d3d3;
}
